Repository scaleway-bot/scaleway-sdk-python, changes with the owners that .github/CODEOWNERS names for each.
All owners: @remyleone, @tbellavia, @Laure-di, @Codelax, @jremy42, @yfodil

.github/CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

/scaleway/scaleway/account/ @tbellavia
/scaleway-async/scaleway_async/account/ @tbellavia

/scaleway/scaleway/applesilicon/ @Laure-di
/scaleway-async/scaleway_async/applesilicon/ @Laure-di

/scaleway/scaleway/baremetal/ @Laure-di
/scaleway-async/scaleway_async/baremetal/ @Laure-di

/scaleway/scaleway/billing/ @tbellavia
/scaleway-async/scaleway_async/billing/ @tbellavia

/scaleway/scaleway/block/ @Codelax
/scaleway-async/scaleway_async/block/ @Codelax

/scaleway/scaleway/cockpit/ @jremy42
/scaleway-async/scaleway_async/cockpit/ @jremy42

/scaleway/scaleway/container/ @Codelax
/scaleway-async/scaleway_async/container/ @Codelax

/scaleway/scaleway/dedibox/ @Laure-di
/scaleway-async/scaleway_async/dedibox/ @Laure-di

/scaleway/scaleway/domain/ @jremy42
/scaleway-async/scaleway_async/domain/ @jremy42

/scaleway/scaleway/edge_services/ @yfodil
/scaleway-async/scaleway_async/edge_services/ @yfodil

/scaleway/scaleway/flexibleip/ @yfodil
/scaleway-async/scaleway_async/flexibleip/ @yfodil

/scaleway/scaleway/function/ @Codelax
/scaleway-async/scaleway_async/function/ @Codelax

/scaleway/scaleway/iam/ @tbellavia
/scaleway-async/scaleway_async/iam/ @tbellavia

/scaleway/scaleway/instance/ @Codelax
/scaleway-async/scaleway_async/instance/ @Codelax

/scaleway/scaleway/iot/ @jremy42
/scaleway-async/scaleway_async/iot/ @jremy42

/scaleway/scaleway/ipam/ @yfodil
/scaleway-async/scaleway_async/ipam/ @yfodil

/scaleway/scaleway/jobs/ @Codelax
/scaleway-async/scaleway_async/jobs/ @Codelax

/scaleway/scaleway/k8s/ @Codelax
/scaleway-async/scaleway_async/k8s/ @Codelax

/scaleway/scaleway/key_manager/ @tbellavia
/scaleway-async/scaleway_async/key_manager/ @tbellavia

/scaleway/scaleway/lb/ @yfodil
/scaleway-async/scaleway_async/lb/ @yfodil

/scaleway/scaleway/marketplace/ @Codelax
/scaleway-async/scaleway_async/marketplace/ @Codelax

/scaleway/scaleway/mnq/ @jremy42
/scaleway-async/scaleway_async/mnq/ @jremy42

/scaleway/scaleway/rdb/ @jremy42
/scaleway-async/scaleway_async/rdb/ @jremy42

/scaleway/scaleway/redis/ @jremy42
/scaleway-async/scaleway_async/redis/ @jremy42

/scaleway/scaleway/registry/ @Codelax
/scaleway-async/scaleway_async/registry/ @Codelax

/scaleway/scaleway/secret/ @tbellavia
/scaleway-async/scaleway_async/secret/ @tbellavia

/scaleway/scaleway/serverless_sqldb/ @jremy42
/scaleway-async/scaleway_async/serverless_sqldb/ @jremy42

/scaleway/scaleway/tem/ @jremy42
/scaleway-async/scaleway_async/tem/ @jremy42

/scaleway/scaleway/vpc/ @yfodil
/scaleway-async/scaleway_async/vpc/ @yfodil

/scaleway/scaleway/vpcgw/ @yfodil
/scaleway-async/scaleway_async/vpcgw/ @yfodil

/scaleway/scaleway/webhosting/ @jremy42
/scaleway-async/scaleway_async/webhosting/ @jremy42

feat: update generated APIs
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/account/v3/types.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway-async/scaleway_async/mongodb/v1/__init__.py
  scaleway-async/scaleway_async/mongodb/v1/api.py
  scaleway-async/scaleway_async/mongodb/v1/content.py
  scaleway-async/scaleway_async/mongodb/v1/marshalling.py
  scaleway-async/scaleway_async/mongodb/v1/types.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/api.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/types.py
  scaleway/scaleway/account/v3/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/types.py
  scaleway/scaleway/mongodb/v1/__init__.py
  scaleway/scaleway/mongodb/v1/api.py
  scaleway/scaleway/mongodb/v1/content.py
  scaleway/scaleway/mongodb/v1/marshalling.py
  scaleway/scaleway/mongodb/v1/types.py
  scaleway/scaleway/searchdb/v1alpha1/api.py
  scaleway/scaleway/searchdb/v1alpha1/types.py
Owners: @tbellavia, @remyleone, @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/cockpit/v1/__init__.py
  scaleway-async/scaleway_async/cockpit/v1/api.py
  scaleway-async/scaleway_async/cockpit/v1/content.py
  scaleway-async/scaleway_async/cockpit/v1/marshalling.py
  scaleway-async/scaleway_async/cockpit/v1/types.py
  scaleway/scaleway/cockpit/v1/__init__.py
  scaleway/scaleway/cockpit/v1/api.py
  scaleway/scaleway/cockpit/v1/content.py
  scaleway/scaleway/cockpit/v1/marshalling.py
  scaleway/scaleway/cockpit/v1/types.py
Owners: @jremy42

feat: update generated APIs
  scaleway-async/scaleway_async/account/v3/types.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway-async/scaleway_async/cockpit/v1/__init__.py
  scaleway-async/scaleway_async/cockpit/v1/api.py
  scaleway-async/scaleway_async/cockpit/v1/content.py
  scaleway-async/scaleway_async/cockpit/v1/marshalling.py
  scaleway-async/scaleway_async/cockpit/v1/types.py
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway-async/scaleway_async/mongodb/v1/__init__.py
  scaleway-async/scaleway_async/mongodb/v1/api.py
  scaleway-async/scaleway_async/mongodb/v1/content.py
  scaleway-async/scaleway_async/mongodb/v1/marshalling.py
  scaleway-async/scaleway_async/mongodb/v1/types.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/api.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/types.py
  scaleway/scaleway/account/v3/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
  scaleway/scaleway/cockpit/v1/__init__.py
  scaleway/scaleway/cockpit/v1/api.py
  scaleway/scaleway/cockpit/v1/content.py
  scaleway/scaleway/cockpit/v1/marshalling.py
  scaleway/scaleway/cockpit/v1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/types.py
  scaleway/scaleway/mongodb/v1/__init__.py
  scaleway/scaleway/mongodb/v1/api.py
  scaleway/scaleway/mongodb/v1/content.py
  scaleway/scaleway/mongodb/v1/marshalling.py
  scaleway/scaleway/mongodb/v1/types.py
  scaleway/scaleway/searchdb/v1alpha1/api.py
  scaleway/scaleway/searchdb/v1alpha1/types.py
Owners: @tbellavia, @remyleone, @jremy42, @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/account/v3/types.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway-async/scaleway_async/cockpit/v1/__init__.py
  scaleway-async/scaleway_async/cockpit/v1/api.py
  scaleway-async/scaleway_async/cockpit/v1/content.py
  scaleway-async/scaleway_async/cockpit/v1/marshalling.py
  scaleway-async/scaleway_async/cockpit/v1/types.py
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway-async/scaleway_async/mongodb/v1/__init__.py
  scaleway-async/scaleway_async/mongodb/v1/api.py
  scaleway-async/scaleway_async/mongodb/v1/content.py
  scaleway-async/scaleway_async/mongodb/v1/marshalling.py
  scaleway-async/scaleway_async/mongodb/v1/types.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/api.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/types.py
  scaleway/scaleway/account/v3/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
  scaleway/scaleway/cockpit/v1/__init__.py
  scaleway/scaleway/cockpit/v1/api.py
  scaleway/scaleway/cockpit/v1/content.py
  scaleway/scaleway/cockpit/v1/marshalling.py
  scaleway/scaleway/cockpit/v1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/types.py
  scaleway/scaleway/mongodb/v1/__init__.py
  scaleway/scaleway/mongodb/v1/api.py
  scaleway/scaleway/mongodb/v1/content.py
  scaleway/scaleway/mongodb/v1/marshalling.py
  scaleway/scaleway/mongodb/v1/types.py
  scaleway/scaleway/searchdb/v1alpha1/api.py
  scaleway/scaleway/searchdb/v1alpha1/types.py
Owners: @tbellavia, @remyleone, @jremy42, @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/account/v3/types.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway-async/scaleway_async/cockpit/v1/__init__.py
  scaleway-async/scaleway_async/cockpit/v1/api.py
  scaleway-async/scaleway_async/cockpit/v1/content.py
  scaleway-async/scaleway_async/cockpit/v1/marshalling.py
  scaleway-async/scaleway_async/cockpit/v1/types.py
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway-async/scaleway_async/mongodb/v1/__init__.py
  scaleway-async/scaleway_async/mongodb/v1/api.py
  scaleway-async/scaleway_async/mongodb/v1/content.py
  scaleway-async/scaleway_async/mongodb/v1/marshalling.py
  scaleway-async/scaleway_async/mongodb/v1/types.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/api.py
  scaleway-async/scaleway_async/searchdb/v1alpha1/types.py
  scaleway/scaleway/account/v3/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
  scaleway/scaleway/cockpit/v1/__init__.py
  scaleway/scaleway/cockpit/v1/api.py
  scaleway/scaleway/cockpit/v1/content.py
  scaleway/scaleway/cockpit/v1/marshalling.py
  scaleway/scaleway/cockpit/v1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/types.py
  scaleway/scaleway/mongodb/v1/__init__.py
  scaleway/scaleway/mongodb/v1/api.py
  scaleway/scaleway/mongodb/v1/content.py
  scaleway/scaleway/mongodb/v1/marshalling.py
  scaleway/scaleway/mongodb/v1/types.py
  scaleway/scaleway/searchdb/v1alpha1/api.py
  scaleway/scaleway/searchdb/v1alpha1/types.py
Owners: @tbellavia, @remyleone, @jremy42, @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/k8s/v1/api.py
  scaleway-async/scaleway_async/k8s/v1/types.py
  scaleway/scaleway/k8s/v1/api.py
  scaleway/scaleway/k8s/v1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/environmental_footprint/v1alpha1/types.py
  scaleway/scaleway/environmental_footprint/v1alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/iam/v1alpha1/__init__.py
  scaleway-async/scaleway_async/iam/v1alpha1/api.py
  scaleway-async/scaleway_async/iam/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/iam/v1alpha1/types.py
  scaleway/scaleway/iam/v1alpha1/__init__.py
  scaleway/scaleway/iam/v1alpha1/api.py
  scaleway/scaleway/iam/v1alpha1/marshalling.py
  scaleway/scaleway/iam/v1alpha1/types.py
Owners: @tbellavia

feat: update generated APIs
  scaleway-async/scaleway_async/iam/v1alpha1/__init__.py
  scaleway-async/scaleway_async/iam/v1alpha1/api.py
  scaleway-async/scaleway_async/iam/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/iam/v1alpha1/types.py
  scaleway/scaleway/iam/v1alpha1/__init__.py
  scaleway/scaleway/iam/v1alpha1/api.py
  scaleway/scaleway/iam/v1alpha1/marshalling.py
  scaleway/scaleway/iam/v1alpha1/types.py
Owners: @tbellavia

feat: update generated APIs
  scaleway-async/scaleway_async/iam/v1alpha1/__init__.py
  scaleway-async/scaleway_async/iam/v1alpha1/api.py
  scaleway-async/scaleway_async/iam/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/iam/v1alpha1/types.py
  scaleway/scaleway/iam/v1alpha1/__init__.py
  scaleway/scaleway/iam/v1alpha1/api.py
  scaleway/scaleway/iam/v1alpha1/marshalling.py
  scaleway/scaleway/iam/v1alpha1/types.py
Owners: @tbellavia

feat: update generated APIs
  scaleway-async/scaleway_async/product_catalog/v2alpha1/__init__.py
  scaleway-async/scaleway_async/product_catalog/v2alpha1/marshalling.py
  scaleway-async/scaleway_async/product_catalog/v2alpha1/types.py
  scaleway/scaleway/product_catalog/v2alpha1/__init__.py
  scaleway/scaleway/product_catalog/v2alpha1/marshalling.py
  scaleway/scaleway/product_catalog/v2alpha1/types.py
Owners: @remyleone

feat(product_catalog): add managed relational database information to admin and public API (#1557)
  scaleway-async/scaleway_async/product_catalog/v2alpha1/__init__.py
  scaleway-async/scaleway_async/product_catalog/v2alpha1/marshalling.py
  scaleway-async/scaleway_async/product_catalog/v2alpha1/types.py
  scaleway/scaleway/product_catalog/v2alpha1/__init__.py
  scaleway/scaleway/product_catalog/v2alpha1/marshalling.py
  scaleway/scaleway/product_catalog/v2alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/k8s/v1/__init__.py
  scaleway-async/scaleway_async/k8s/v1/api.py
  scaleway-async/scaleway_async/k8s/v1/marshalling.py
  scaleway-async/scaleway_async/k8s/v1/types.py
  scaleway/scaleway/k8s/v1/__init__.py
  scaleway/scaleway/k8s/v1/api.py
  scaleway/scaleway/k8s/v1/marshalling.py
  scaleway/scaleway/k8s/v1/types.py
Owners: @Codelax

feat(k8s): taints and labels: move to a more simple implementation (#1558)
  scaleway-async/scaleway_async/k8s/v1/__init__.py
  scaleway-async/scaleway_async/k8s/v1/api.py
  scaleway-async/scaleway_async/k8s/v1/marshalling.py
  scaleway-async/scaleway_async/k8s/v1/types.py
  scaleway/scaleway/k8s/v1/__init__.py
  scaleway/scaleway/k8s/v1/api.py
  scaleway/scaleway/k8s/v1/marshalling.py
  scaleway/scaleway/k8s/v1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/jobs/v1alpha2/__init__.py
  scaleway-async/scaleway_async/jobs/v1alpha2/api.py
  scaleway-async/scaleway_async/jobs/v1alpha2/content.py
  scaleway-async/scaleway_async/jobs/v1alpha2/marshalling.py
  scaleway-async/scaleway_async/jobs/v1alpha2/types.py
  scaleway/scaleway/jobs/v1alpha2/__init__.py
  scaleway/scaleway/jobs/v1alpha2/api.py
  scaleway/scaleway/jobs/v1alpha2/content.py
  scaleway/scaleway/jobs/v1alpha2/marshalling.py
  scaleway/scaleway/jobs/v1alpha2/types.py
Owners: @Codelax

feat(serverless_jobs): add retry policy (#1559)
  scaleway-async/scaleway_async/jobs/v1alpha2/__init__.py
  scaleway-async/scaleway_async/jobs/v1alpha2/api.py
  scaleway-async/scaleway_async/jobs/v1alpha2/content.py
  scaleway-async/scaleway_async/jobs/v1alpha2/marshalling.py
  scaleway-async/scaleway_async/jobs/v1alpha2/types.py
  scaleway/scaleway/jobs/v1alpha2/__init__.py
  scaleway/scaleway/jobs/v1alpha2/api.py
  scaleway/scaleway/jobs/v1alpha2/content.py
  scaleway/scaleway/jobs/v1alpha2/marshalling.py
  scaleway/scaleway/jobs/v1alpha2/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/vpc/v2/types.py
  scaleway/scaleway/vpc/v2/types.py
Owners: @yfodil

feat(vpc): add ListSubnetOverlaps for vpc peering (#1560)
  scaleway-async/scaleway_async/vpc/v2/types.py
  scaleway/scaleway/vpc/v2/types.py
Owners: @yfodil

feat: update generated APIs
  scaleway-async/scaleway_async/rdb/v1/api.py
  scaleway-async/scaleway_async/rdb/v1/marshalling.py
  scaleway-async/scaleway_async/rdb/v1/types.py
  scaleway/scaleway/rdb/v1/api.py
  scaleway/scaleway/rdb/v1/marshalling.py
  scaleway/scaleway/rdb/v1/types.py
Owners: @jremy42

feat: update generated APIs
  scaleway-async/scaleway_async/webhosting/v1/__init__.py
  scaleway-async/scaleway_async/webhosting/v1/api.py
  scaleway-async/scaleway_async/webhosting/v1/marshalling.py
  scaleway-async/scaleway_async/webhosting/v1/types.py
  scaleway/scaleway/webhosting/v1/__init__.py
  scaleway/scaleway/webhosting/v1/api.py
  scaleway/scaleway/webhosting/v1/marshalling.py
  scaleway/scaleway/webhosting/v1/types.py
Owners: @jremy42

feat: update generated APIs
  scaleway-async/scaleway_async/k8s/v1/api.py
  scaleway-async/scaleway_async/k8s/v1/marshalling.py
  scaleway-async/scaleway_async/k8s/v1/types.py
  scaleway/scaleway/k8s/v1/api.py
  scaleway/scaleway/k8s/v1/marshalling.py
  scaleway/scaleway/k8s/v1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/marshalling.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway-async/scaleway_async/instance/v1/types_private.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/custom_api.py
  scaleway/scaleway/instance/v1/marshalling.py
  scaleway/scaleway/instance/v1/types.py
  scaleway/scaleway/instance/v1/types_private.py
Owners: @Codelax

feat(k8s): add pools labels, taints and startup_taints (#1565)
  scaleway-async/scaleway_async/k8s/v1/api.py
  scaleway-async/scaleway_async/k8s/v1/marshalling.py
  scaleway-async/scaleway_async/k8s/v1/types.py
  scaleway/scaleway/k8s/v1/api.py
  scaleway/scaleway/k8s/v1/marshalling.py
  scaleway/scaleway/k8s/v1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/datawarehouse/v1beta1/api.py
  scaleway-async/scaleway_async/datawarehouse/v1beta1/marshalling.py
  scaleway-async/scaleway_async/datawarehouse/v1beta1/types.py
  scaleway/scaleway/datawarehouse/v1beta1/api.py
  scaleway/scaleway/datawarehouse/v1beta1/marshalling.py
  scaleway/scaleway/datawarehouse/v1beta1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/marshalling.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway-async/scaleway_async/instance/v1/types_private.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/custom_api.py
  scaleway/scaleway/instance/v1/marshalling.py
  scaleway/scaleway/instance/v1/types.py
  scaleway/scaleway/instance/v1/types_private.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/vpc/v2/__init__.py
  scaleway-async/scaleway_async/vpc/v2/api.py
  scaleway-async/scaleway_async/vpc/v2/marshalling.py
  scaleway-async/scaleway_async/vpc/v2/types.py
  scaleway/scaleway/vpc/v2/__init__.py
  scaleway/scaleway/vpc/v2/api.py
  scaleway/scaleway/vpc/v2/marshalling.py
  scaleway/scaleway/vpc/v2/types.py
Owners: @yfodil

feat: update generated APIs
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/marshalling.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway-async/scaleway_async/instance/v1/types_private.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/custom_api.py
  scaleway/scaleway/instance/v1/marshalling.py
  scaleway/scaleway/instance/v1/types.py
  scaleway/scaleway/instance/v1/types_private.py
Owners: @Codelax

feat(datawarehouse): add shard_count params (#1570)
  scaleway-async/scaleway_async/datawarehouse/v1beta1/api.py
  scaleway-async/scaleway_async/datawarehouse/v1beta1/marshalling.py
  scaleway-async/scaleway_async/datawarehouse/v1beta1/types.py
  scaleway/scaleway/datawarehouse/v1beta1/api.py
  scaleway/scaleway/datawarehouse/v1beta1/marshalling.py
  scaleway/scaleway/datawarehouse/v1beta1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/api.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/content.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/api.py
  scaleway/scaleway/audit_trail/v1alpha1/content.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/domain/v2beta1/api.py
  scaleway-async/scaleway_async/domain/v2beta1/marshalling.py
  scaleway-async/scaleway_async/domain/v2beta1/types.py
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/marshalling.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway-async/scaleway_async/instance/v1/types_private.py
  scaleway-async/scaleway_async/lb/v1/api.py
  scaleway-async/scaleway_async/lb/v1/marshalling.py
  scaleway-async/scaleway_async/lb/v1/types.py
  scaleway-async/scaleway_async/product_catalog/v2alpha1/types.py
  scaleway-async/scaleway_async/rdb/v1/api.py
  scaleway-async/scaleway_async/rdb/v1/marshalling.py
  scaleway-async/scaleway_async/rdb/v1/types.py
  scaleway/scaleway/domain/v2beta1/api.py
  scaleway/scaleway/domain/v2beta1/marshalling.py
  scaleway/scaleway/domain/v2beta1/types.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/custom_api.py
  scaleway/scaleway/instance/v1/marshalling.py
  scaleway/scaleway/instance/v1/types.py
  scaleway/scaleway/instance/v1/types_private.py
  scaleway/scaleway/lb/v1/api.py
  scaleway/scaleway/lb/v1/marshalling.py
  scaleway/scaleway/lb/v1/types.py
  scaleway/scaleway/product_catalog/v2alpha1/types.py
  scaleway/scaleway/rdb/v1/api.py
  scaleway/scaleway/rdb/v1/marshalling.py
  scaleway/scaleway/rdb/v1/types.py
Owners: @jremy42, @Codelax, @yfodil, @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/instance/v1/api.py
  scaleway-async/scaleway_async/instance/v1/marshalling.py
  scaleway-async/scaleway_async/instance/v1/types.py
  scaleway-async/scaleway_async/instance/v1/types_private.py
  scaleway/scaleway/instance/v1/api.py
  scaleway/scaleway/instance/v1/custom_api.py
  scaleway/scaleway/instance/v1/marshalling.py
  scaleway/scaleway/instance/v1/types.py
  scaleway/scaleway/instance/v1/types_private.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/marshalling.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/marshalling.py
  scaleway/scaleway/container/v1beta1/types.py
Owners: @Codelax

feat(audit_trail): add alerting (#1576)
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/api.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/content.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/api.py
  scaleway/scaleway/audit_trail/v1alpha1/content.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/api.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/api.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/api.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/api.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
Owners: @remyleone

feat: update generated APIs
  scaleway-async/scaleway_async/container/v1beta1/api.py
  scaleway-async/scaleway_async/container/v1beta1/marshalling.py
  scaleway-async/scaleway_async/container/v1beta1/types.py
  scaleway/scaleway/container/v1beta1/api.py
  scaleway/scaleway/container/v1beta1/marshalling.py
  scaleway/scaleway/container/v1beta1/types.py
Owners: @Codelax

feat: update generated APIs
  scaleway-async/scaleway_async/edge_services/v1alpha1/api.py
  scaleway-async/scaleway_async/edge_services/v1beta1/api.py
  scaleway-async/scaleway_async/edge_services/v1beta1/types.py
  scaleway/scaleway/edge_services/v1alpha1/api.py
  scaleway/scaleway/edge_services/v1beta1/api.py
  scaleway/scaleway/edge_services/v1beta1/types.py
Owners: @yfodil

feat: update generated APIs
  scaleway-async/scaleway_async/audit_trail/v1alpha1/__init__.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/api.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/marshalling.py
  scaleway-async/scaleway_async/audit_trail/v1alpha1/types.py
  scaleway/scaleway/audit_trail/v1alpha1/__init__.py
  scaleway/scaleway/audit_trail/v1alpha1/api.py
  scaleway/scaleway/audit_trail/v1alpha1/marshalling.py
  scaleway/scaleway/audit_trail/v1alpha1/types.py
Owners: @remyleone
